<h1>Event details</h1>

<h2><%= @event.name%></h2>
<p>Date: <%=show_date(@event.date_time)%></p>
<p>Time: <%=show_time(@event.date_time)%></p>
<p>Description: <%=@event.description%></p>
<p>Organised by <a href="/users/<%=@creator.id%>"><%=@creator.name%></a></p>
<%if logged_in?%>
<form action="/attendees/new" method="post">
    <input type="hidden" name="event_id" value="<%= @event.id%>">
    <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <label for="rsvp_button">If you would like to come please click below</label>
    <button>RSVP</button>
</form>
<%else%>
    <form action="/login">
        <label for="">Log in to RSVP</label>
        <button>Login</button>
    </form>
<%end%>

<p>There are <%=Attendees.where(event_id: @event.id).count%> people interested in attending this event</p>