
<header class=event-details-header>
    <h1>Event details</h1><%if logged_in? && current_user.id == @event.user_id%>
    <form action="/events/<%=@event.id%>/edit">
        <button>EDIT EVENT</button>
    </form>
    <% end %>
</header>
<section class="event-details">

    <h2><%= @event.name%></h2>
    <img src="<%=@event.image_url%>" alt="">
    <p>Date: <%=show_date(@event.date_time)%></p>
    <p>Time: <%=show_time(@event.date_time)%></p>
    <p>Description: <%=@event.description%></p>
    <p>Organised by <a class="organiser" href="/users/<%=@event.user_id%>"><%=@event.user.username%></a></p>

<section class="class-roll">
    <h3>Class roll</h3>
    <div class="user-details-wrapper">
        <%@event.subscribed_users.each do |user| %>
            <div class="user-details">
                <p><%=user.username%></p>
                <img src="<%=user.image_url%>" alt="">
            </div>
        <% end %>
    </div>
</section>

    <%if logged_in?%>
        <form action="/users/<%=@event.user_id%>#feedback">
            <input type="hidden">
            <input type="hidden" name="event_name" value="<%@event.name%>">
            <label for="">If you have attended feel free to give feedback</label>
            <button>GIVE FEEDBACK</button>
        </form>
            <%# if current_user is already attending then they can cancel %>
            <% if has_attended?(@event.user)%>
                <form action="/subscribed_users/<%=@event.id%>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button>CANCEL RSVP</button>
                </form>
            <% else %>
                <form class="RSVP-form" action="/subscribed_users/new" method="post">
                    <input type="hidden" name="event_id" value="<%= @event.id%>">
                    <input type="hidden" name="user_id" value="<%=current_user.id%>">
                    <label for="rsvp_button">If you would like to come please click </label>
                    <button>RSVP</button>
                 </form>
            <% end %>


    <%else%>
        <form action="/login" class="rsvp">
            <label for="">Log in to RSVP</label>
            <button>Login</button>
        </form>
    <%end%>
 </section>