<header class="main-page">
    <h1>skillsocial</h1>

    <p>display people and events near you</p>
</header>

<div class='near-you'>
    <section class="events-block">
        <h3><a href="/events">Events</a></h3>
        <%@events.each do |event|%>
            <a href="/events/<%=event.id%>"><p><%=event.name%></p></a>
            <p><%=event.date_time.strftime("%d/%m/%y")%></p>
            <p><%=event.date_time.strftime("%H:%M")%></p>
            <p><%=event.location%></p>
            <br>
        <%end%>

    </section>

    <section class="users-block">
        <h3>People</h3>
        <%@users.each do |user|%>
        <img src="<%=user.image_url%>" alt="">
        <div class="home-details">
        <a href="/users/<%=user.id%>">
        <p><%=user.name%></p>
        <p><%=user.skills%></p>
        </a>
        </div>
        <%end%>
    </section>
</div>