<header class="main-page">
    <h1>skillsocial</h1>

    <p>display people and events near you</p>
</header>

<div class='near-you'>
    <section class="events-block">
        <h3><a href="/events">Events</a></h3>
        <%@events.each do |event|%>
            <div class="single-event">
            <a href="/events/<%=event.id%>">
                <p><%=event.name%></p>
                <img src="<%=event.image_url%>" alt="">
                <p><%=event.date_time.strftime("%d/%m/%y")%></p>
                <p><%=event.date_time.strftime("%H:%M")%></p>
                <p><%=event.location%></p></a>
            </div>
        <%end%>

    </section>

    <section class="users-block">
        <h3>People</h3>
        <%@users.each do |user|%>
        <a href="/users/<%=user.id%>">
        <div class="home-details">
        <img src="<%=user.image_url%>" alt="">
        <p><%=user.name%><br><%=user.skills%></p>
        </div>
        </a>
        <%end%>
    </section>
</div>