<div class="profile">


    <%if logged_in? && current_user %>
        <a href="/users/<%=@user.id%>/edit">EDIT PROFILE</a>
    <%end %>
    <header class="user-info">
        <img class="user-img" src="<%=@user.image_url%>">
        <h1><%=@user.name%></h1>
        <p> SKILLS: <%=@user.skills%></p>
        <p> INTERESTS: <%=@user.interests%></p>
    </header>
    <section class="about-me">
        <h4>About Me</h4>
        <p><%=@user.about_me%> put about me details here</p>
    </section>
    <section class='user-events'>
        <h4>Events</h4>
        <p>put event details here</p>
    </section>
    <section class="feedback">
        <h4>feedback</h4>
        <p>good dog</p>
        <% if logged_in? %>
            <form action="/feedback/new" method="post">
                <textarea name="feedback"></textarea>
                <button>give feedback</button>
            </form>
        <%else %>
            <form action="/login">
                <button>LOG IN TO GIVE FEEDBACK</button>
            </form>
        <%end%>
    </section>
    <section class="user-events">
        <h2>Events by organiser</h2>
        <%@events.each do |event|%>
        <p><%=event.name%></p>
        <p><%=show_date(event.date_time)%></p>
        <p><%=show_time(event.date_time)%></p>
        <p><%=event.location%></p>
        <p><%=event.description%></p>
        <h2>who's attending</h2>
        <%event.subscribed_users.each do |user|%>
        <p><%=user.username%></p>
        <p><%=user.image_url%></p>
        <% end %>
        <%end%>
    </section>
    <section>
    <%if logged_in? %>
        <h2>Events I'm attending</h2>
        <%@user.subscribed_events.each do |event|%>
        <p><%=event.name%></p>
        <p><%=show_date(event.date_time)%></p>
        <p><%=show_time(event.date_time)%></p>
        <p><%=event.location%></p>
        <p><%=event.description%></p>
        <%end%>
    <%end %>
    </section>
</div>
